<body>
    <fieldset>
        <legend>Register</legend>
        <form id="registerForm">
            <div>
                <p>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </p>
                <p>
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" required>
                    <span id="passwordError" style="color: red; display: none;">Password must contain at least 6 characters including letters, numbers, and special characters</span>
                </p>
                <button type="submit">Submit</button> <!-- Changed type to submit -->
            </div>
        </form>
    </fieldset>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="js/jquery.spapp.js"></script>
    <script src="js/jquery.spapp.min.js"></script>

    <script src="js/register.js"></script> <!-- Include your JavaScript file -->
</body>
